<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <!-- <link rel="stylesheet" href="{% static 'polls/style.css' %}"> -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
                      
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <title>
    pFiona
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Nucleo Icons -->
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css' %}">
  <!-- CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/black-dashboard.css' %}">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="{% static 'assets/demo/demo.css' %}">
</head>

<body class="white-content">
  <div class="wrapper">
    <div class="sidebar" data="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            pFiona
          </a>
        </div>
        <ul class="nav">
          
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li>
            <a href="/logs/">
              <i class="tim-icons icon-tablet-2"></i>
              <p>Logs</p>
            </a>
          </li>

          <li>
            <a href="/data/">
              <i class="tim-icons icon-tablet-2"></i>
              <p>Data</p>
            </a>
          </li>

          <li>
            <a href="/graphs/">
              <i class="tim-icons  icon-chart-bar-32"></i>
              <p>Graphs</p>
            </a>
          </li>
          
          <li>
            <a href="/control/">
              <i class="tim-icons  icon-chart-bar-32"></i>
              <p>PI Control</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div >
                    Select PI &nbsp; &nbsp;  
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">PI1</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">PI2</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">PI3</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">

        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Latest Graphs</h5>
                    <h2 class="card-title">Wavelength vs Samples</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-success btn-simple active" id="0">
                        <input type="radio" name="options"  checked>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Po4 Standard</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-success btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Blank Sample</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-success btn-simple" id="2">
                        <input type="radio" class="d-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Po4 Sample</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category"></h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Select Mode </h3>
              </div>
              <div class="card-body" style="padding-left: 6vh;">
                <input type="radio" name="fav_language" value="Automatic" >&nbsp;&nbsp;
                <label for="css" class="text-info">Automatic</label><br>
                <input type="radio" name="fav_language" value="Pause" >&nbsp;&nbsp;
                <label for="css" class="text-info">Pause</label><br>
                <input type="radio" name="fav_language" value="Full Manual" >&nbsp;&nbsp;
                <label for="css" class="text-info">Full Manual</label><br>
                <button style="display: none;" id="next_button" value="5" type="submit" onClick="send_next_sample(this)" class="btn btn-fill btn-success">Next</button><br>
                <input type="radio" name="fav_language" value="User Specified" >&nbsp;&nbsp;
                <label for="css" class="text-info">User Specified</label><br>
                <input type="radio" name="fav_language" value="Command line" >&nbsp;&nbsp;
                <label for="css" class="text-info">Command line</label><br>
                <button  value="1001" type="submit" onClick="start_conection(this)" class="btn btn-fill btn-success">Start Connection with PI</button>
                <button  value="1002" type="submit" onClick="stop_connection(this)" class="btn btn-fill btn-success">Stop Connection with PI</button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category"></h5>
                  <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Enter NUmber of Samples</h3>
                </div>
                <div class="card-body">
                  <label for="css" class="text-info">Blank Sample</label>
                  <input type="text" name="fav_language" oninput="blank_sam_count_change(this)" class="form-control" value="2"><br>
                  <label for="css" class="text-info">Po4 Standard</label>
                  <input type="text" name="fav_language" oninput="po4_std_count_change(this)" class="form-control"value="3"><br>
                  <label for="css" class="text-info">Po4 Sample</label>
                  <input type="text" name="fav_language" oninput="po4_sam_count_change(this)" class="form-control" value="3"><br>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category"></h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success text-info"></i>Connection On/Off Buttons</h3>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category"></h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success text-info"></i>Data Control Buttons</h3>
              </div>
              <div class="card-body">
                <button  value="106" type="submit" onClick="send_command(this)" class="btn btn-fill btn-success">Clear Data</button>
                <button  value="108" type="submit" onClick="send_command(this)" class="btn btn-fill btn-success">Refresh Data</button>
                <button  value="104" type="submit" onClick="send_command(this)" class="btn btn-fill btn-success">Restart</button>
                <button  value="110" type="submit" onClick="showdata()" class="btn btn-fill btn-success">Show All Data</button>
                <button  value="109" type="submit" onClick="free_command_queue()" class="btn btn-fill btn-success">Clear Command Queue</button>
              </div>
             
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Liquid Remaining</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="CountryChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" >
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category"></h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>Instrument Status</h3>
              </div>
                <div class="card-body" id="Instrument-status" style="height: 300px; overflow-y: auto;">
                  <!-- <div class="typography-line">
                    <span>Motor 1</span>
                    <p class="text-info">
                      I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...</p>
                  </div> -->
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title"> Debug Logs</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 300px; overflow-y: auto;">
                  <table class="table tablesorter " id="T1">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Time
                        </th>
                        <th>
                          Logs
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title"> Operation Logs</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 300px; overflow-y: auto;">
                  <table class="table tablesorter " id="T2">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Time
                        </th>
                        <th>
                          Logs
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div>
          
        </div>

        

        <!-- <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Operation Logs</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 300px; overflow-y: auto;">
                  <table class="table tablesorter " id="T3">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Time
                        </th>
                        <th>
                          Logs
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
     
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../"></script>
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>

  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>


  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>

  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/js/black-dashboard.min.js' %}"></script>
  
  <script src="{% static 'assets/demo/demo.js' %}"></script>
  
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
  </script>
  
  <script>
    
    function send_command(button) {
      var variable = button.value;
    
      var apiUrl = '/api/add_command/?variable=' + variable; // Replace with your API endpoint
      $.ajax({
        type: 'GET',
        url: apiUrl,
        success: function(data) {
          // Handle the API response here
          alert(data["message"]);
        },
        error: function(error) {
          // Handle any errors here
          alert("Error")
        }
      });
    }
    
    function start_conection(button) {
      var variable = button.value;
      var apiUrl = '/api/start_conection?variable=' + variable; // Replace with your API endpoint
      $.ajax({
        type: 'GET',
        url: apiUrl,
        success: function(data) {
          // Handle the API response here
          alert(data["message"]);
        },
        error: function(error) {
          // Handle any errors here
          alert("Error")
        }
      });
    }

    function stop_connection(button) {
      var variable = button.value;
      var apiUrl = '/api/stop_connection?variable=' + variable;; // Replace with your API endpoint
      $.ajax({
        type: 'GET',
        url: apiUrl,
        success: function(data) {
          // Handle the API response here
          alert(data["message"]);
        },
        error: function(error) {
          // Handle any errors here
          alert("Error")
        }
      });
    }

    function free_command_queue() {
    
      var apiUrl = '/api/free_command_queue'; // Replace with your API endpoint
      $.ajax({
        type: 'GET',
        url: apiUrl,
        success: function(data) {
          // Handle the API response here
          alert(data["message"]);
        },
        error: function(error) {
          // Handle any errors here
          alert("Error")
        }
      });
    }

    function showdata(){
        var apiUrl = '/api/showdata/';
        $.ajax({
          type: 'GET',
          url: apiUrl,
          success: function(data) {
            // Handle the API response here
            alert(data["message"]);
          },
          error: function(error) {
            // Handle any errors here
            alert("Error");
          }
        });
      }

    
    $('input[type=radio][name=fav_language]').change(function() {
          var nextButton = document.getElementById('next_button');
          
          if (this.value == 'Automatic') {
            var variable = "1";
            nextButton.style.display = 'none';
          }
          else if (this.value == 'Pause') {
            var variable = "2";
            nextButton.style.display = 'none';
          }
          else if (this.value == 'Full Manual') {
            var variable = "3";
            nextButton.style.display = 'block';
          }
          else if (this.value == 'User Specified') {
            var variable = "4";
            nextButton.style.display = 'none';
          }
          else if (this.value == 'Command line') {
            var variable = "5";
            nextButton.style.display = 'none';
          }
          var apiUrl = '/api/change_mode/?variable=' + variable; 
          $.ajax({
            type: 'GET',
            url: apiUrl,
            success: function(data) {
              // Handle the API response here
              alert(data["message"]);
            },
            error: function(error) {
              // Handle any errors here
              alert("Error")
            }
          });
      });

    function send_next_sample(button) {
        var variable = button.value;
      
        var apiUrl = '/api/next_sample/?variable=' + variable; // Replace with your API endpoint
        $.ajax({
          type: 'GET',
          url: apiUrl,
          success: function(data) {
            // Handle the API response here
            alert(data["message"]);
          },
          error: function(error) {
            // Handle any errors here
            alert("Error")
          }
        });
      }

      function blank_sam_count_change(text){
      if (text.value){
        var apiUrl = '/api/blank_sam_count_change/?variable=' + text.value; // Replace with your API endpoint
        $.ajax({
          type: 'GET',
          url: apiUrl,
          success: function(data) {
            // Handle the API response here
            alert(data["message"]);
          },
          error: function(error) {
            // Handle any errors here
            alert("Error")
          }
        });
      }
    }
    function po4_std_count_change(text){
      if (text.value){
        var apiUrl = '/api/po4_std_count_change/?variable=' + text.value; // Replace with your API endpoint
        $.ajax({
          type: 'GET',
          url: apiUrl,
          success: function(data) {
            // Handle the API response here
            alert(data["message"]);
          },
          error: function(error) {
            // Handle any errors here
            alert("Error")
          }
        });
      }
    }
    function po4_sam_count_change (text){
      if (text.value){
        var apiUrl = '/api/po4_sam_count_change/?variable=' + text.value; // Replace with your API endpoint
        $.ajax({
          type: 'GET',
          url: apiUrl,
          success: function(data) {
            // Handle the API response here
            alert(data["message"]);
          },
          error: function(error) {
            // Handle any errors here
            alert("Error")
          }
        });
      }
    }

  </script>

</body>

</html>