<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <!-- <link rel="stylesheet" href="{% static 'polls/style.css' %}"> -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
                      
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <title>
    pFiona
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Nucleo Icons -->
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css' %}">
  <!-- CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/black-dashboard.css' %}">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="{% static 'assets/demo/demo.css' %}">
</head>

<body class="white-content">
  <div class="wrapper">
    <div class="sidebar" data="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-normal">
          pFiona
        </a>
      </div>
      <ul class="nav">
        
        <li>
          <a href="/">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li>
          <a href="/logs/">
            <i class="tim-icons icon-tablet-2"></i>
            <p>Logs</p>
          </a>
        </li>

        <li class="active ">
          <a href="/data/">
            <i class="tim-icons icon-tablet-2"></i>
            <p>Data</p>
          </a>
        </li>

        <li>
          <a href="/graphs/">
            <i class="tim-icons  icon-chart-bar-32"></i>
            <p>Graphs</p>
          </a>
        </li>

        <li>
          <a href="/control/">
            <i class="tim-icons  icon-chart-bar-32"></i>
            <p>PI Control</p>
          </a>
        </li>

      </ul>
    </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Data Table List</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
              </li>
              <li class="dropdown nav-item">
              </li>
              <li class="dropdown nav-item">
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row" >
          <div class="col-6" >
            <div class="card card-chart" style="min-height: 140px;">
              <div class="card-header">
                <h2 class="card-title"> Instrument Status, Ports, Ports (Speed and Amount)</h2>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="card card-chart">

              <div class="card-header">
                <h3 class="card-title"> Upload a File</h3>
              </div>

              <div class="card-body ">
                  <div class="col-sm-6" style="display: inline;">

                    <input type="file"></input>
                    <button  value="105" type="submit" onClick="upload_file(this)" class="btn btn-fill btn-success">Upload</button>

                  </div>
                
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Instrument-status</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="T4">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Data Key 
                        </th>
                        <th>
                          Data Value
                        </th>
            
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Ports</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="T6">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Port Number
                        </th>
                        <th>
                          Value
                        </th>
            
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Ports (Speed and Amount)</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="T5">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Port varible
                        </th>
                        <th>
                          value
                        </th>
            
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
       
        </div>
      </div>
   
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>

      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/js/black-dashboard.min.js' %}"></script>
  <script src="{% static 'assets/demo/demo.js' %}"></script>

  <script>
    $(document).ready(function() {
      

      $.ajax({
          url: '/api/graphs/',  
          type: 'GET',
          success: function(d) {
            console.log("before" + d);
            var dataTable = document.getElementById('T4').getElementsByTagName('tbody')[0];
            var rows=d.data[0];
            console.log( rows);
            var t4Set = new Set(["motor1_status" ,"motor2_status","num_of_sample_run","blank_sample_absorbances","blank_sample_count"
                                  ,"po4_standard_absorbances","po4_standard_count","po4_sample_absorbances","po4_sample_count"]);
            for (const property in rows) {
                 if(!t4Set.has(property.substring(1))) continue;

              console.log(`${property}: ${rows[property]}`);
              var row = dataTable.insertRow();
      
            var timeCell = row.insertCell(0);
            var logsCell = row.insertCell(1);

            timeCell.innerHTML = property.substring(1);
            logsCell.innerHTML = rows[property];

            }

            var dataTable = document.getElementById('T5').getElementsByTagName('tbody')[0];
           
            for (const property in rows) {
                 var prop = property.substring(1);
                 if(!prop.includes("port") || !prop.includes("pp")) continue;

              console.log(`${property}: ${rows[property]}`);
              var row = dataTable.insertRow();
      
            var timeCell = row.insertCell(0);
            var logsCell = row.insertCell(1);

            timeCell.innerHTML = prop.replace("_"," ");
            logsCell.innerHTML = rows[property];

            }

            var dataTable = document.getElementById('T6').getElementsByTagName('tbody')[0];
           
            for (const property in rows) {
                 var prop = property.substring(1);
                 if(!prop.includes("port_") && !prop.includes("num_ports")) continue;

              console.log(`${property}: ${rows[property]}`);
              var row = dataTable.insertRow();
      
            var timeCell = row.insertCell(0);
            var logsCell = row.insertCell(1);

            timeCell.innerHTML = prop;
            logsCell.innerHTML = rows[property];

            }
            // for (var i = 0; i < rows.length; i++) {
            //   var row = dataTable.insertRow();
      
            //   var timeCell = row.insertCell(0);
            //   var logsCell = row.insertCell(1);
      
            //   timeCell.innerHTML = rows[i][0];
            //   logsCell.innerHTML = rows[i][1];
            // }
          }
        });


      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
</body>

</html>
